.result-div{
    width: 100%;
    display: block;

}

#result{
    display: none;
    padding-left: 0;
    /*position: relative;*/

}
.result-item{
    z-index: 8888;
    cursor:pointer;
    display: flex;
    max-height: 150px;
    background-color: #1b2d3c;
/*position: absolute;*/
    margin-left: 0;
    top:0;

}
.title-wrapper-xem{
    padding-bottom: 2px;
}
.entry-title{
    font-size:17px;
    margin: 0;
}
.entry-title a{
    color: #bdbdbd;
    line-height: 35px;
}
